body{
    background-image: url(/images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.btn:hover{
    color:#ebab2d;
}
.nav-link{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
/* about me page */
#about-me{
    width: 100vw;
    height: auto;
    background-color: aliceblue;
    z-index: 0;
}
.info{
    z-index: 1;
}
/* skills */
