
*{
    overflow-x: hidden;
}
body{
    height:80%;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-size:cover;
    background-image: url(/images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    
}
.section-headers{
    padding-top: 100px;
}
.btn:hover{
    color:#ebab2d;
}
nav{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-size:cover;
    
}
strong:hover{
    color: #ebab2d;
}

.active{
    color: #ebab2d !important;
}
/* @font-face {
    font-family: headerfont;
    src: url(/CHICKEN\ Pie.ttf);
}
.header1{
    font-family: headerfont;
    overflow: hidden;
} */
.nav-link{
    
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
/* about me page */
#about-me{
    width: 100vw;
    height: auto;
    background-color: aliceblue;
    z-index: 0;
}
.info{
    z-index: 1;
}
/* .percent{
    display: fixed;
    right: 0;
} */
/* work and education */
#workneducation{
    width: 100vw;
    height: auto;
    background-color: aliceblue;
    z-index: 0;

}
/* project */
#project{
    width: 100vw;
    height: auto;
    background-color: aliceblue;
    z-index: 0;

}
.bi-file-arrow-up-fill{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
}
/* testimonial */
#testimonial{
    width: 100vw;
    height: 50%;
    background-color: aliceblue;
    z-index: 0;
}
#myCarousel{
    height: 100px;
    background-image: url(/images/dawid-zawila-bpJ8qeyo1-w-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.carousel-img{
    width: 150px;
border-radius: 100%;
border: 6px solid rgba(255, 255, 255, 0.15);
margin: 0 auto;

}
/* contact */
#contact{
    width: 100vw;
    height: 50%;
    background-color: aliceblue;
    z-index: 0;
}
.h-100{
    overflow: hidden;
}
.text-dark:hover{
    color: #ebab2d;
}
/* footer */
#footer{
    background-image: url(/images/dawid-zawila-bpJ8qeyo1-w-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
}